{% extends 'site/base.html' %} {% block title %}
<title>Vaccine Details</title>
{% endblock title %} {% block content %}
<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title mb-4">
      <i class="fas fa-map-marker-alt"></i> Vaccine Details
    </h5>

    <div class="row mb-1">
      <div class="col-5 col-sm-4 col-md-3 col-lg-2 fw-bold">Vaccine Name</div>
      <div class="col-7 col-sm-8 col-md-9 col-lg-10">{{ vaccine.name }}</div>
    </div>

    <div class="row mb-1">
      <div class="col-5 col-sm-4 col-md-3 col-lg-2 fw-bold">Description</div>
      <div class="col-7 col-sm-8 col-md-9 col-lg-10">
        {{ vaccine.description }}
      </div>
    </div>

    <div class="row mb-1">
      <div class="col-5 col-sm-4 col-md-3 col-lg-2 fw-bold">
        Storage Temperature
      </div>
      <div class="col-7 col-sm-8 col-md-9 col-lg-10">
        {{ vaccine.storage_temperature }}
      </div>
    </div>

    <div class="row mb-1">
      <div class="col-5 col-sm-4 col-md-3 col-lg-2 fw-bold">
        Number of doses
      </div>
      <div class="col-7 col-sm-8 col-md-9 col-lg-10">
        {{ vaccine.number_of_doses }}
      </div>
    </div>

    <div class="row mb-1">
      <div class="col-5 col-sm-4 col-md-3 col-lg-2 fw-bold">Interval</div>
      <div class="col-7 col-sm-8 col-md-9 col-lg-10">
        {{ vaccine.interval }}
      </div>
    </div>

    <div class="row mb-1">
      <div class="col-5 col-sm-4 col-md-3 col-lg-2 fw-bold">Minimum Age</div>
      <div class="col-7 col-sm-8 col-md-9 col-lg-10">
        {{ vaccine.minimum_age }}
      </div>
    </div>

    <div class="row mb-1 btn-container">
      <div class="col-12">
        <button class="btn btn-sm btn-success m-1">
          <a href="{% url 'vaccine:update' vaccine.id %}">
            <i class="fas fa-pen"></i> Update Vaccine
          </a>
        </button>

        <button
          class="btn btn-sm btn-danger m-1"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          <i class="fas fa-trash"></i> Delete Vaccine
        </button>
      </div>
    </div>

    <!-- delete modal -->
    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Delete {{vaccine.name}} Vaccine
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">This action is not reversible.</div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <form action="{% url 'vaccine:delete' vaccine.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger m-1">
                <i class="fas fa-trash"></i> Yes, Delete
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
